:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px */
    line-height: 1.6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
@keyframes growth {
    from {
        opacity: 0;
        transform: scale(var(--growth-form));
    }
    to {
        opacity: 1;
        transform: scale(var(--growth-to));
    }
}
